
{% macro render_guest(form) -%}

{{form.hidden_tag() }}
{% for field in form %}
{% if field.type not in ['CSRFTokenField', 'HiddenField'] and field.id  not in [ 'newsletter','subscribe'] %}
<!--  {{ field() }}-->
<div class="form-group {% if field.errors %}error{% endif %}">
     <label class="control-label col-xs-4 col-xs-offset-1  col-md-3 col-md-offset-2 form-label">{{ field.label(for=field.id) }}</label>
      {% if field.id   in [ 'gender',] %}
      <div class="col-xs-5 col-md-3 form-input">
              <select class="form-control input-guest" id="gender-select" > <option value="1" >Male</option><option value="2" >Female</option></select>
        </div><!-- //form-input-->



     <div style="display:none;">
                {{field( **{'value':'1'} )}}

        </div> 
       {% else %}
      <div class="col-xs-5 col-md-3 form-input">
                {{ field(class_="form-control input-guest")}}
	</div><!-- //form-input-->

      {% endif %}
        {% if field.errors %}
              {% for error in field.errors %}
               <span class="help-inline text-red">[{{ error }}]</span><br>
              {% endfor %}
        {% endif %}


  </div><!-- //form-group-->
{% endif %}
{% endfor %}
{%endmacro%}